# Maven
target/
!target/*.jar
.mvn/
mvnw
mvnw.cmd

# IDE files
.idea/
*.iml
.vscode/
.project
.classpath
.settings/

# Git
.git/
.gitignore

# Miscellaneous
README.md
**/docker-compose*.yml
**/*.md
**/*.log
**/helm/
